@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

body{
    background-image: linear-gradient(to bottom, rgb(187, 255, 255), rgb(255, 255, 255));
}

header img{
  height: 100px;
  width: 100px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #00ffff;
  align-items: center;
  border-radius: 30px;  

  background: rgba(69, 233, 255, 0.23);
  backdrop-filter: blur(39px) saturate(153%);
  -webkit-backdrop-filter: blur(39px) saturate(153%);
  border: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 23px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

header h1{
  font-family: "Spicy Rice", serif;
  padding-right: 70px;
  font-size: 40px;
  color:rgb(255, 255, 255);
}
.menu-vertical-flutuante {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;


  background: rgba(69, 233, 255, 0.23);
  backdrop-filter: blur(39px) saturate(153%);
  -webkit-backdrop-filter: blur(39px) saturate(153%);
  border: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 23px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.menu-vertical-flutuante a {
  color: #00abc9;
  padding: 50px 15px;
  text-decoration: none;
  margin: 5px 0;
}

.menu-vertical-flutuante a:hover {
  background-color: rgb(143, 248, 255);
  border-radius: 4px;
}
/* ÁREA DOS PARCEIROS */

.parceiros {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 45px 60px;

    padding: 50px 60px;
}


/* CARD DO PARCEIRO */

.parceiro {
    text-align: center;

    display: flex;
    flex-direction: column;

    align-items: center;
}


/* IMAGEM DO PARCEIRO */

.parceiro img {
    width: 130px;
    height: 130px;

    border-radius: 50%;

    object-fit: cover;

    display: block;
}


/* NOME DO PARCEIRO */

.parceiro h2 {
    margin-top: 8px;

    font-size: 18px;

    font-style: italic;
}

.imagem-footer {
    background-image: url(../imagens/footer.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: 100%;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 5%;
}

.imagem-footer h2{
    display: flex;
    text-align: center;
    padding-left: 40%;
    color: aliceblue;
    -webkit-text-stroke: 0.5px rgb(134, 221, 255);
}
